/* 언어설정 */
@charset 'UTF-8';
@font-face {
    font-family: 'Pretendard-Thin';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Black';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

/* reset */
* {margin: 0;
    padding: 0;
    font-family: 'Pretendard-Light'}
ul,ol {list-style: none;}
a {text-decoration: none;
    color: #000;}
img {border: none;
    vertical-align: bottom;}


    /* 전체여백 설정 */
.box1-1, .box2-1, .box2 form {
    width: 100%;
    margin: 0 100px;
}


/* 스크롤바 꾸미기 */
::-webkit-scrollbar {
    width: 10px; /* 스크롤바의 너비 */
}

/* 스크롤바 트랙 디자인 설정 (트랙은 스크롤바가 이동하는 영역) */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 트랙 배경색 */
}

/* 스크롤바 핸들 디자인 설정 (핸들은 스크롤바의 실제 이동 부분) */
::-webkit-scrollbar-thumb {
    background:linear-gradient(#E3A4ED, #70EBF1, #48D3ED, #F6FEAF);/* 핸들 배경색 */
     /* 핸들의 모서리를 둥글게 만듭니다. */
}

/* 스크롤바의 호버 상태에서의 핸들 디자인 설정 */
::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* 호버 상태일 때 핸들 배경색 변경 */
}



/* 박스1 설정 */
/* 유틸설정 */
.box1 {
    width: 100%;
    height: 4vh;
    background-color: #3E3E3E;
    display: flex;
    justify-content: flex-end;
    position: relative;
    
}

.util {
    display: flex;
    justify-content: flex-end;
    width: 15%;
    height: 100%;
    color: #C0C0C0;
    font-size: 14px;
    align-items: center;
    text-align: center;
}

.util li {
    padding: 0 7px;
}

.util li a {
    color: #C0C0C0;
    font-family: 'Pretendard-Thin';
    letter-spacing: 1px;
    align-items: center;
}

.util li a:hover {
    text-decoration: underline;
}

.util p {
    width: 20px;
    height: 20px;
    background-color: rgb(194, 0, 0);
    color: #fff;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    margin-left: 5px;
    position: absolute;
    display: none;
}

.util span {
    line-height: 20px;
}


/* 장바구니 클릭시 팝업 */
.shopPop {
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    width: 30%;
    height: 50%;
    right: 0;
    top: 0;
    color: #fff;
    z-index: 1000;
    display: none;
    border-radius: 20px;
}

.shopPop h2 {
    letter-spacing: 1px;
    display: inline-block;
    
}
.shopPop p {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    color: rgb(198, 198, 198);
}


.shopPop section {
    width: 80%;
    height: 50%;
    margin: 50px auto;
}

.popin {
    height: 90%;
    background-color: #fff;
    margin: 10px 0;
    padding: 20px;
    color: #000;
    font-size: 18px;
    line-height: 2;
    overflow-y: scroll;
    overflow-x: hidden;
}




.shopPopbtn {

    text-align: center;
    padding-top: 50px;

}

.shopPopbtn button {
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    border: none;
    margin: 0 5px;
    background-color: rgba(0,0,0,0);
    color: #fff;
    border: 1px solid rgb(205, 205, 205);
}

.login a{
    color: #fff;
}


.shopPopbtn button:hover {
    background-color: #fff;
    color: #000;
}
.login a:hover {
    color: #000;
}





/* 메뉴설정 */
.box2 {
    width: 100%;
    height: 9vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.box2-1 {
    width: 50%;
    display: flex;
    justify-content: space-between;

}

.box2 .logo {
    width: 18%;
}
.box2 .menu {
    width: 70%;
    display: flex;
    justify-content: space-between;
}



.box2 .menu li a{
    color: #1D1D1D;
    font-size: 20px;
    font-family: 'Pretendard-SemiBold';
}

.box2 .menu li a:hover {
    color: #646464;
    
}



/* 검색설정 */

.box2 form {
    width: 10%;
}
.box2 .fa-search {
    color:rgb(27, 27, 27);
    position: absolute;
    cursor: pointer;
    right: 110px;
    top: 65px;
    font-size: 22px;
    
}
.box2  input {
    width: 100%;
    padding: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: #1D1D1D 2px solid;
    opacity: 100%;
    padding-left: 5px;
    font-size: 18px;
    
}

.box2  input:focus {
    outline: 0;
}



/* 슬라이드배너 설정 */

.wrap {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.wrap .slide {
    width: 100%;
    height: 635px;
}
.slide ul {
    height: 100%;
    width: 100%;
    position: relative;
}
.slide ul li {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide ul li:nth-child(1) {
    background-image: url(img/sub_banner01.png);
    left: 0;
}
.slide ul li:nth-child(2) {
    background-image: url(img/sub_banner02.png);
}
.slide ul li:nth-child(3) {
    background-image: url(img/sub_banner03.png);
}



.wrap .btn {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 10px;
}

.wrap .btn ul {
    display: flex;
    width: 100%;
    justify-content: center;
}

.wrap .btn li {
    text-indent: -9999px;
    background-image: url(img/btnVisual.png);
    width: 14px;
    height: 15px;
    margin: 0 2px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -16px;

}
.wrap .btn li.on {
    background-position: 0 0;
}

/* 상품판매시작 */
.shop {
    width: 100%;

}

.shopToptxt {
    width: 100%;
    height: 28vh;
    text-align: center;
}

.shopToptxt h3 {
    font-size: 22px;
    color: rgb(101, 101, 101);
    font-family: 'Pretendard-ExtraLight';
    padding-top: 80px;
}

.shopToptxt h2 {
    font-size: 50px;
    color: rgb(31, 31, 31);
    font-family: 'Pretendard-Bold';
    padding-top: 10px;
}


.shopUtiltxt {
    width: 87%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #3E3E3E;
    border-bottom: 1px solid rgb(89, 89, 89);
}

.shopUtiltxt p {
    margin: 20px;
    font-family: 'Pretendard-SemiBold';
}

.shopUtiltxt ul {
    display: flex;
}

.shopUtiltxt li {
    margin: 20px;
    cursor: pointer;
}

.shopUtiltxt li:nth-child(1) {
    font-family: 'Pretendard-ExtraBold';
}

.shopClickimg {
    width: 87%;
    height: 177vh;
    margin: 0 auto;
}

.shopClickimg ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    
}

.shopClickimg ul li {
    width: 24%;
    height: 500px;
    border: 1px solid #c8c8c8;
    border-radius: 20px;
    text-align: left;
    cursor: pointer;
    position: relative;
}

.shopClickimg li:hover {
    transform: scale(1.02);
}

.shopClickimg ul li div:nth-child(1) {
    width: 100%;
    height: 70%;
    border-bottom: 1px solid #c8c8c8; 
    display: flex;
    align-self: center;
    background-repeat: no-repeat;
    background-size:260px;
    background-position: center;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
}


/* 장바구니 아이콘 */
.shopClickimg .img01 img {
    width: 30px;
    height: 30px;
    height: auto;
    position: absolute;
    right: 20px;
    bottom: 170px;   
}

.shopClickimg .img02 img {
    width: 30px;
    height: 30px;
    height: auto;
    position: absolute;
    right: 20px;
    bottom: 170px;   
}

.shopClickimg .img03 img {
    width: 30px;
    height: 30px;
    height: auto;
    position: absolute;
    right: 20px;
    bottom: 170px;   
}

.shopClickimg .img04 img {
    width: 30px;
    height: 30px;
    height: auto;
    position: absolute;
    right: 20px;
    bottom: 170px;   
}
.shopClickimg .img05 img {
    width: 30px;
    height: 30px;
    height: auto;
    position: absolute;
    right: 20px;
    bottom: 170px;   
}
.shopClickimg .img06 img {
    width: 30px;
    height: 30px;
    height: auto;
    position: absolute;
    right: 20px;
    bottom: 170px;   
}
.shopClickimg .img07 img {
    width: 30px;
    height: 30px;
    height: auto;
    position: absolute;
    right: 20px;
    bottom: 170px;   
}
.shopClickimg .img08 img {
    width: 30px;
    height: 30px;
    height: auto;
    position: absolute;
    right: 20px;
    bottom: 170px;   
}
.shopClickimg .img09 img {
    width: 30px;
    height: 30px;
    height: auto;
    position: absolute;
    right: 20px;
    bottom: 170px;   
}
.shopClickimg .img10 img {
    width: 30px;
    height: 30px;
    height: auto;
    position: absolute;
    right: 20px;
    bottom: 170px;   
}
.shopClickimg .img11 img {
    width: 30px;
    height: 30px;
    height: auto;
    position: absolute;
    right: 20px;
    bottom: 170px;   
}
.shopClickimg .img12 img {
    width: 30px;
    height: 30px;
    height: auto;
    position: absolute;
    right: 20px;
    bottom: 170px;   
}

/* 상품 이미지 */
.shopClickimg .img01 {
    background-image: url(img/shopimg01.png);
}

.shopClickimg .img02 {
    background-image: url(img/shopimg02.png);
}


.shopClickimg .img03 {
    background-image: url(img/shopimg03.png);
}

.shopClickimg .img04 {
    background-image: url(img/shopimg04.png);
}

.shopClickimg .img05 {
    background-image: url(img/shopimg05.png);
}

.shopClickimg .img06 {
    background-image: url(img/shopimg06.png);
}

.shopClickimg .img07 {
    background-image: url(img/shopimg07.png);
}

.shopClickimg .img08 {
    background-image: url(img/shopimg08.png);
}

.shopClickimg .img09 {
    background-image: url(img/shopimg09.png);
}

.shopClickimg .img10 {
    background-image: url(img/shopimg10.png);
}

.shopClickimg .img11 {
    background-image: url(img/shopimg11.png);
}

.shopClickimg .img12 {
    background-image: url(img/shopimg12.png);
}

.shopClickimg .txt {
    height: 109px;
    padding: 20px;
    display: block;
    background-color: rgb(242, 242, 242);
    border-radius: 0 0 20px 20px;
}
.shopClickimg h3 {
    font-size: 24px;
    font-family: 'Pretendard-SemiBold';
    
}

.shopClickimg h4 {
    color: #808080;
    font-family: 'Pretendard-Thin';
    padding-top: 4px;
    letter-spacing: 1px;
    font-size: 18px;
}

.shopClickimg p {
    width: 60%;
    font-size: 22px;
    padding-top: 20px;
    font-family: 'Pretendard-ExtraBold';

}

.shopClickimg span {
    font-size: 22px;
    font-family: 'Pretendard-ExtraBold';
    margin-left: 34px;
    color: #74B18C;
}





/* 푸터 설정 */
.box9 {
    background-color: #1C1C1C;
    width: 100%;
    height: 30vh;
    color: #fff;
    position: relative;
}


.box9-1 {
    width: 80%;
    height: 20px;
    margin: 0 100px;
    padding-top: 40px;
}
.box9-1 ul {
    display: flex;
    
}

.box9-1 ul li {
    font-size: 18px;
    margin-right: 20px;
}

.box9-1 li:nth-child(2) a {
    font-family: 'Pretendard-SemiBold';
}
.box9-1 ul li a {
    color: #fff;
    letter-spacing: 1px;
}


.box9-2 {
    width: 80%;
    height: 50px;
    margin: 0 100px;
    padding-top: 20px;
}

.box9-2 ul {
    display: flex;
    flex-wrap: wrap;
}
.box9-2 ul li {
    font-size: 16px;
    margin-right: 50px;
    letter-spacing: 1px;
    margin-top: 7px;

}

.box9-3 {
    width: 10%;
    margin: 0 100px;

}
.box9-3 ul {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content:space-between;
    
}

.box9-3 ul li {
    text-align: center;
    
}
.box9-3 a {
    color: rgb(10, 10, 10);
    display: block;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 18px;
    font-family: 'Pretendard-Medium';
    padding: 8px 12px;
}

.box9-3 a:hover {
    background-color: rgb(230, 230, 230);
}



.box9-4 {
    position: absolute;
    top: 100px;
    right: 100px;
}

.box9-4 ul {
    display: flex;
    justify-content: space-between;
}

.box9-4 ul li {
    margin: 5px;
}

.box9-4 ul li img:hover {
    transform: scale(1.1);
}

.box9-4 .icon {
    margin-top: 10px;
}


.box9-5 {
    text-align: center;
    margin-top: 10px;
    opacity: 0.5;
    
}

.box9-5 p {
    font-family: 'Pretendard-Thin';
    letter-spacing: 1px;
}
